
.padre{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; /* ellos suman el 100% */
    grid-template-rows: 100px 50px 150px;
}   

.hijo{
    background-color: greenyellow;
    margin: 0;
}

.hijo-impar{
    background-color: rgb(255, 67, 67);
}